data
log
young_age/data

# package files
*.zip
*.gz
*.tar.gz
*.jukit
*.swp
*.csv
# config files
*.yaml

# research notes
research_notes.txt

young_age/synthcity-main
young_age/src/2_produce_data/3_synthcity.py
young_age/figures
